$color-black: #161616;
$color-white: #fff;
$size: 170px; // (Fully responsive)

$ear-radius: 25%;
$ear-hair-width: 5%;
$ear-hair-height: 10%;

$eye-radius: 31%;
$eye-tips-height: 10%;
$eye-pupil-radius: 20%;
$eye-pupil-glares-size: 35%;
$muzzle-height: 6%;
$muzzle-width: 10%;
$muzzle-radius: 30%;

.cat {
	position: relative;
	height: $size;
	width: $size * 1.13;
}

.ears {
	position: absolute;
	top: -30%;
	height: 60%;
	width: 50%;
	background: $color-white;
}

.ear {
	background-color: $color-white;
	position: absolute;
	height: $size * 0.6;
	width: $ear-radius * 2;
	top: 50%;
	transform: translateY(-50%);
	border-radius: $ear-radius;
}

.ear-hair {
	content: '';
	position: absolute;
	bottom: $ear-hair-height;
	left: 50%;
	transform: translateX(-50%);
	background-color: $color-black;
	width: $ear-hair-width;
	height: $ear-hair-height;
	border-radius: 50%;
	transform-origin: 50% 100%;
}

.eye {
	position: absolute;
	top: 35%;
	height: $eye-radius * 2;
	width: $eye-radius * 2;
	background-color: $color-white;
	border-radius: $eye-radius;
	transform: translateY(-50%);
}

.eye--left,
.eye--right {
	left: 0;
	right: 0;
}

.eye-tips {
	content: '';
	position: absolute;
	top: $eye-tips-height;
	left: 50%;
	transform: translateX(-50%);
	background-color: $color-white;
	width: $eye-radius;
	height: $eye-tips-height;
	border-radius: $eye-radius;
}

.eye-pupil {
	content: '';
	position: absolute;
	top: 25%;
	height: $eye-pupil-radius * 2;
	width: $eye-pupil-radius * 2;
	background-color: $color-
