body {
    background-color: #ffffff;
  }
  
  h1 {
    color: #000000;
    font-size: 30px;
  }
  
  p {
    color: #000000;
    font-size: 16px;
  }
  
  .bug-container {
    background-color: #ff0000;
    padding: 20px;
  }
  
  img {
    width: 200px;
  }
  .card {
    width: 300px;
    margin: 0 auto;
    border: 5px solid black;
    background-color: rgba(255, 0, 0, 0.5); /* Semi-transparent red background */
    padding: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5); /* Subtle drop shadow */
    border-radius: 10px; /* Rounded corners */
  }
  
  .card img {
    width: 97%;
    height: auto;
    display: block;
    border: 5px solid black;
    margin-bottom: 10px;
    border-radius: 5px; /* Rounded corners */
  }
  
  .card h2 {
    font-size: 30px;
    font-family: 'Charizard', cursive; /* Use a custom font for the heading */
    color: #f00; /* Fiery red text color */
    margin-bottom: 5px;
  }
  
  .card p {
    font-size: 14px;
    margin-bottom: 5px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3); /* Subtle text shadow */
  }
  